@(repo: String)

<!DOCTYPE HTML>
<html>
    <head>
        <title> Xenolizard's Slave Manager</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />

        <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/connections/ajaxAPI.js")"></script>
        <script src="@routes.Assets.at("javascripts/connections/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/gatherData.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/tableController.js")"></script>

        <script>
            var repoName = '@repo';
        </script>
    </head>
    <body onload="init()" >
        <button onclick="showWrapper()">Dodaj</button>
        <table id="mainContainer">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Nickname</th>
                    <th>Age</th>
                    <th>Anger</th>
                    <th>Stupidity</th>
                </tr>
            </thead>
        </table>
        @form()
    </body>
</html>