@()

<div id="wrapper">
    <form action="" class="basic-grey" id="ds-submit">
        <label for="ds-name"><span>Imię: </span></label><input type="text" id="ds-name" />
        <label for="ds-surname"><span>Nazwisko: </span></label><input type="text" id="ds-surname" />
        <label for="ds-nickname"><span>Nickname: </span></label><input type="text" id="ds-nickname" />
        <label for="ds-age"><span>Wiek: </span></label><input type="number" id="ds-age" />
        <label for="ds-agrolevel"><span>Zirytowanie: </span></label><input type="number" id="ds-agrolevel" />
        <label for="ds-stupidity"><span>Irytowalność: </span></label><input type="number" id="ds-stupidity" />
        <label for="ds-checkbox"><span>Is he awesome? </span></label><input type="checkbox" id="ds-checkbox"><br/>
        <input type="submit" class="button" id="submitButton"/>
    </form>
</div>
