@()

<!DOCTYPE HTML>
<html>
    <head>
        <title> Xenolizard's Slave Manager</title>

        <script>
            function init(){
                document.getElementById("form").addEventListener("submit",function(event){
                    document.location.href = document.location.origin + "/" + "repository/"+document.getElementById("target").value;
                    alert("Dz");
                    console.log(document.location.origin + "/" + "repository/"+document.getElementById("target").value);
                    event.preventDefault();
                    return false;
                },false)
            }
        </script>
    </head>
    <body onload="init()">
        <form id="form" action="">
            <label for="target"><span>Nazwa przechowalni niewolnikow </span></label>
            <input id="target" placeholder="movies" />
        </form>

    </body>
</html>
